  <footer class="section {{ section_class|join(' ') }}">
    <div class="container {{ container_class|join(' ') }}">

      {% block footer %}

        <div class="flex justify-center">
        <div class="text-center">
          <p>{{ contact_widget.email }}</p>
          <p>{{ contact_widget.phone }}</p>
        </div>
        </div>

      {% endblock %}

    </div>
  </footer>