<footer class="section {{ section_class|join(' ') }}">
  <div class="container {{ container_class|join(' ') }}">

    {% block footer %}

      <div class="flex justify-center">
        <div class="text-center text-lg md:text-xl xl:text-2xl">
          {% include "components/contact.html.twig" %}
        </div>
      </div>

    {% endblock %}

  </div>
</footer>
