<header class="header-main header-unpin z-40 pointer-events-none">
  <div class="container">

    <nav id="nav-main" class="nav-main flex justify-between items-center" role="navigation">
      <div class="nav-left flex justify-start w-2/12 lg:w-4/12"></div>

      <div class="nav-center flex justify-center w-8/12 lg:w-4/12 z-50 pointer-events-auto">
        <a href="{{ site.link }}">
          Irene Stracuzzi
        </a>
      </div>
      <div class="nav-right flex justify-end w-2/12 lg:w-4/12">
        <div class="nav-menu text-xl lg:text-base z-40 pointer-events-auto">
          {% include "components/menu.html.twig" with {
            "menu" : menu.get_items
          } %}
        </div>

        <div class="nav-burger toggle-menu relative z-50 pointer-events-auto">
          <span></span>
          <span></span>
        </div>
      </div>

    </nav>

  </div>
</header>
