{# Default page #}

{% extends "core/base.html.twig" %}

{% block main %}
  <div class="canvas-container"></div>
{% endblock %}

{% block scripts %}
<script src="{{ theme.link }}/js/landing.js"></script>
{% endblock %}