{% extends "core/base.html.twig" %}

{% block main %}

    <section class="section {{ section_class|join(' ') }}">
    <div class="container {{ container_class|join(' ') }}">

      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>

    </div>
  </section>

{% endblock %}
