{% if menu %}

  <ul class="list-reset flex flex-col md:flex-row">

    {% for item in menu %}

      <li class="nav-menu-item close-menu text-xl" data-slug="{{ item.slug }}">
        <a class="underline-in" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>{% if loop.index < menu|length %}<span class="hidden md:inline">,</span>{% endif %}&nbsp;
      </li>

    {% endfor %}

  </ul>

{% endif %}