<div class="swiper-container">

  <div class="swiper-wrapper">

    {% for slide in slides %}

      <div class="swiper-slide">

        {% if slide.acf_fc_layout == "landscape" %}

          <div class="row justify-center items-center h-full">
              <div class="col h-full w-full lg:w-8/12">
                {% include "components/figure.html.twig" with { 
                  figure_class: ['landscape'],
                  image_class: ['cover'],
                  image: slide.image,
                  size: 'landscape-100vw'
                } %}
              </div>
          </div>

        {% elseif slide.acf_fc_layout == 'double_portrait' %}

          <div class="row justify-center items-center h-full">
              <div class="col h-full w-6/12 lg:w-4/12">
                {% include "components/figure.html.twig" with { 
                  figure_class: ['portrait'],
                  image_class: ['cover'],
                  image: slide.image_first,
                  size: 'portrait-50vw'
                } %}
              </div>
              <div class="col h-full w-6/12 lg:w-4/12">
                {% include "components/figure.html.twig" with { 
                  figure_class: ['portrait'],
                  image_class: ['cover'],
                  image: slide.image_second,
                  size: 'portrait-50vw'
                } %}
              </div>
          </div>

        {% endif %}

      </div>

    {% endfor %}

  </div>

</div>