<div class="swiper-container">

  <div class="swiper-wrapper">

    {% for slide in slides %}

      <div class="swiper-slide stretch">

        {% if slide.acf_fc_layout == "landscape" %}

          <div class="row justify-center items-center h-full">
              <div class="col w-10/12">
                {% include "components/image.html.twig" with { 
                  image_class: ['slide-image, mx-auto'],
                  image: slide.image,
                  size: 'landscape-100vw'
                } %}
              </div>
          </div>

        {% elseif slide.acf_fc_layout == 'double_landscape' %}

          <div class="row justify-center items-center h-full">
            <div class="col w-6/12">
              {% include "components/image.html.twig" with { 
                image_class: ['slide-image ml-auto mr-0'],
                image: slide.image_first,
                size: 'landscape-100vw'
              } %}
            </div>
            <div class="col w-6/12">
              {% include "components/image.html.twig" with { 
                image_class: ['slide-image mr-auto ml-0'],
                image: slide.image_second,
                size: 'landscape-50vw'
              } %}
            </div>
          </div>

        {% elseif slide.acf_fc_layout == 'portrait' %}

          <div class="row justify-center items-center h-full">
              <div class="col w-5/12">
                {% include "components/image.html.twig" with { 
                  image_class: ['slide-image mx-auto'],
                  image: slide.image,
                  size: 'portrait-50vw'
                } %}
              </div>
          </div>

        {% elseif slide.acf_fc_layout == 'double_portrait' %}

          <div class="row justify-center items-center h-full">
              <div class="col w-5/12">
                {% include "components/image.html.twig" with { 
                  image_class: ['slide-image, ml-auto mr-0'],
                  image: slide.image_first,
                  size: 'portrait-50vw'
                } %}
              </div>
              <div class="col w-5/12">
                {% include "components/image.html.twig" with { 
                  image_class: ['slide-image, mr-auto ml-0'],
                  image: slide.image_second,
                  size: 'portrait-50vw'
                } %}
              </div>
          </div>

        {% endif %}

      </div>

    {% endfor %}

  </div>

</div>