{% extends "core/base.html.twig" %}

{% block main %}

  <div class="relative min-h-screen w-full">

    <section class="section header-offset">
      <div class="container">
        <div class="row">
          <div class="col w-6/12 mx-auto text-center">
            {{ post.meta('header') }}
          </div>
        </div>
      </div>
    </section>

    <div class="absolute w-full bottom-0">
      {% include "layout/footer.html.twig" %}
    </div>

  </div>

{% endblock %}