{# 404 #}

{% extends "core/base.html.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container">
      <div class="flex flex-wrap items-center w-full" style="height: 50vh">
        <div class="w-full text-lg md:text-xl xl:text-2xl text-center">
        <h1 class="mb-4"><span style="font-size: 3.5em">404</span></h1>
        <a class="underline-in " href="{{ site.link }}">back to home</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
