{% extends "core/base.html.twig" %}

{% block main %}

  {% include "components/back-arrow.html.twig" with { 
    link: site.link ~ "/shop"
  } %}

  

  <div class="original-cart hidden">
    {{ "[always_show_wp_shopping_cart]"|shortcodes }}
  </div>

  <div id="cart-app"></div>

{% endblock %}

{% block scripts %}
  <script src="{{ theme.link }}/js/cart.js"></script>
{% endblock %}