{% extends "core/base.html.twig" %}

{% block main %}

  {% include "components/back-arrow.html.twig" with { 
    link: site.link ~ "/shop"
  } %}

    <section v-if="isEmpty" class="section header-offset-extra">
      <div class="container">
        <div class="row">
          <div class="col mx-auto w-9/12 lg:w-10/12 text-lg md:text-xl xl:text-2xl">
            <p>{{ post.meta('confirmation_text')}}</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}