{% extends "core/base.html.twig" %}

{% block main %}

  <div class="relative min-h-screen w-full">

    <div class="absolute w-full bottom-0">
      {% include "layout/footer.html.twig" %}
    </div>
  </div>

{% endblock %}