.footer-main {
  padding-top: 25px;
  padding-bottom: $section-offset;
}

.footer-info {
  padding-top: 60px;
  padding-bottom: $section-offset;
}

@screen md {
  .footer-main,
  .footer-info {
    padding-top: $section-offset;
  }
}
