.header-offset {
  padding-top: $header-height;
}

.header-main {
  @apply fixed w-full flex items-center;
}

.header-main {
  @apply bg-transparent;
  padding-bottom: $section-offset;
  padding-top: $section-offset;
}
