.header-offset {
  padding-top: $header-height;

  &-extra {
    padding-top: 200px;
  }

  &-extra-spacer {
    padding-top: calc(200px - $section-offset);
  }

  &-desktop {
    padding-top: $section-offset;
  }
}

.header-main {
  @apply fixed w-full flex items-center;
}

.header-main {
  @apply bg-transparent;
  padding-bottom: $section-offset;
  padding-top: $section-offset;
}

@screen lg {
  .header-offset-desktop {
    padding-top: $header-height;
  }
}