button,
button:focus,
.button {
    @apply cursor-pointer outline-none;
}

.fade-after-scroll {
  transition: opacity $medium $ease-in-out-circ;

  &.fade-out {
    @apply opacity-0 pointer-events-none;
  }
}

.info-wrapper {
  min-height: 100vh;
  padding-bottom: 100px;

  .footer-info {
    @apply absolute w-full left-0 bottom-0;
  }
}