.expander {
  @apply overflow-hidden h-0;
  transition: $short ease;

  &.active {
    @apply h-auto;
  }
}

.expander-activator {
  .expander-arrow {
    transition: $short ease;
  }

  &.active,
  &.active .expander-button {
    font-style: italic;
  }

  &.active .expander-arrow {
    transform: rotate(180deg);
  }
}