h1, h2, h3, p {
  @apply leading-tight;
}

.description p {
  @apply text-xl;
  max-width: 40em;
  
  &:not(:first-child) {
    text-indent: 2rem;
  }
}

ul {
  @apply my-4;
  margin-left: 2rem;
}

@screen lg {
  h1, h2, h3, p {
  @apply leading-normal;
}

}