/* grid */
$section-offset: 16px;
$gutter: 22px;
$gutter-sm: 20px;
$site-max-width: 100rem;
$site-offset: 32px;
$site-offset-sm: 20px;
/* timing */
$short: 400ms;
$medium: 600ms;
$long: 800ms;
$xlong: 1200ms;
/* easing */
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
/* elements */
$header-height: 55px;
/*  */
$burger-width: 20px;
$burger-height: 6px;