/* grid */
$section-offset: 16px;
$gutter: 22px;
$site-max-width: 100rem;
$site-offset: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: 62px;
/*  */
$burger-width: 1.25rem;
$burger-height: 0.65rem;