{% extends "core/base.html.twig" %}

{% block main %}

  <div class="relative min-h-screen slider">
    <section class="section header-offset">
      <div class="container">

        {% include "components/slider.html.twig" with {
          slides : post.meta("slider")
        } %}

      </div>
    </section>

    <section class="section absolute bottom-0 w-full">
      <div class="container">
        <div class="row">
          <div class="col w-1/12">
            <div class="slider-counter">
              <span class="slider-index"></span>
              /
              <span class="slider-total"></span>
            </div>
          </div>
          <div class="col w-1/12">
            <button class="slider-next">Next</button>
          </div>
          <div class="col w-8/12 flex justify-center">
            <p>{{ post.title }}</p>
          </div>
          <div class="col w-2/12 flex justify-end">
            <button class="expander-activator" data-expander-once="true" data-expander-scroll="true" data-expander-target="description">Read More</button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="description" class="expander">
    <div class="expander-content">
      <section class="section header-offset">
        <div class="container">
          <div class="row">
            <div class="col w-4/12 ml-8/12">
              <div class="description mb-12">
                {{ post.meta('description') }}
              </div>
              <div class="details ml-8 mb-24">
                {{ post.meta('details') }}
              </div>
              <div class="pt-8 text-xl text-right">
                <a href="#">View slides</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}